/*
//Project Name: GCU Student Blog
//Version 1.0
//Module: Stylesheet Version 1.0
//Programmers: Robbie Evans III, Michael Rogers
//Date: 7/30/2017
//Synopsis: Provides style for HTML pages.
*/

body {
    background-color: white;

}

.header img {
    position: absolute;
    left: 15px;
    top: 35px;
}

.header h1 {
    text-align: center;
    padding: 40px 0;
    font-weight:bold;
    border-radius: 10px;
    position: relative;;
    font-size: 60px;
}

h2 {
    text-align: center;
    font-size: 60px;
}


.homeForm {
    background: darkorchid;
    color: white;
    padding: 15px;
    border: inset;
    height: 150px;
    width: 220px;
    margin: auto;
    margin-top: 10px;
}


label {
    text-decoration: underline;
}

input[type = reset], input[type = submit] {
    border: double;
    margin: 8px 0;
    width: 100%;
}

input[type = text], input[type = password] {
    margin: 4px 0;
    width: 100%;
}