h3 {
    text-align: center;
    font-size: 20px;
}

.loginForm {
    background: darkorchid;
    color: white;
    padding: 15px;
    border: inset;
    height: 180px;
    width: 220px;
    margin: auto;
    margin-top: 10px;
}

