/*
//Project Name: GCU Student Blog
//Version 1.0
//Module: Stylesheet Version 1.0
//Programmers: Robbie Evans III, Michael Rogers
//Date: 7/30/2017
//Synopsis: Provides style for HTML pages.
*/


h3 {
    text-align: center;
    font-size: 20px;
}

.regForm {
    background: darkorchid;
    color: white;
    padding: 15px;
    border: inset;
    height: 500px;
    width: 220px;
    margin: auto;
    margin-top: 10px;
}
