h1
{
    color: black;
    text-align: center;
    font-family: "Courier New";
}

h3
{
    background-color:darkorchid ;
    color: black ;
    align-items: stretch;
    font-family: "Arial Black";
    font-size: 30px;
}


a
{
    border: 1px ;
    padding-left: 40px;

}

.blogForm {
    background: darkorchid;
    color: white;
    padding: 15px;
    border: inset;
    height: 425px;
    width: 450px;
    margin: auto;
    margin-top: 10px;
}

.searchForm {
    background: darkorchid;
    color: white;
    padding: 15px;
    border: inset;
    height: 225px;
    width: 325px;
    margin: auto;
    margin-top: 10px;

}


.searchResults {
    background: darkorchid;
    color: white;
    padding: 15px;
    border: inset;
    height: 425px;
    width: 450px;
    margin: auto;
    margin-top: 10px;
}

.blogViewer {
    float: left;
    width: 50%;
    margin-left: 10%;
}

.commentForm {
    float: right;
    width: 30%;
    margin-right: 1%;
}

.resultsTable, th, td {
    margin-left:auto;
    margin-right:auto;
    border: 1px solid black;
    border-spacing: 1px;
    padding: 5px;
}

#search {
    width: 100px;
}

#searchInput {
    width: 215px;
}

#wrapper {
    margin-left:auto;
    margin-right:auto;
    width:100%;
}

